body {
	margin: 0;
	padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

html, body, .wrapper {
	height: 100%;	
}

.wrapper {
	display: flex;
}


.sidebar {
	min-width: 15%;
	flex: 0 0 150px;
}

.sidebar paper-button {
    background: #3c5182;
    display: block;
    color: #fff;
}

.view-code, .view-presentation {
	min-width: 40%;
	flex: 1 1;
}

.view-code {
    display: flex;
    flex-direction: column;
}

#import {
  flex: 1 1;
}

.view-code textarea {
  resize: none;
}

#code {
  flex: 3 1;
}


.view-presentation {
	background: #e8e8e8;
    padding: 0.5em;
}

.sidebar {
	padding: 0.5em;
}

google-map {
    height: 300px;
}

paper-button.fancy {
  background: green;
  color: yellow;
}

paper-button.fancy:hover {
  background: lime;
}

.floating-menu {
    position: fixed;
    top: 3em;
    left: 3em;
    right: 3em;
    bottom: 3em;
    background: #fff;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.4) 3px 3px 1px 1px;
    padding: 1em;
    display: none;
}

.floating-menu ul li {
    list-style: none;
}

.buttons {
    padding: 1em 0;
}

#buttons button {
    display: block;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    border: 0;
    border-radius: 5px;
    background: #345bb6;
    color: #fff;
    cursor: pointer;
}

#buttons button:hover {
    background: #6085dc;
}