body {
	margin: 0;
	padding: 0;
}

html, body, .wrapper {
	height: 100%;	
}

.wrapper {
	display: flex;
}

.sidebar, .view-code, .view-presentation {
	border: 1px solid #000;
}

.sidebar {
	min-width: 15%;
	flex: 0 0 150px;
}

.view-code, .view-presentation {
	min-width: 40%;
	flex: 1 1;
}

.view-code {
	background-color: red;
}

.view-presentation {
	background-color: yellow;
}

.sidebar {
	background-color: gray;
}